<!DOCTYPE html>
<html>
<head>
    <title>
        {{pageName}}
    </title>
      {{>header}}
</head>
</html>
<body>
    
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, distinctio!</p>
{{>footer}}  
</body>
