<!DOCTYPE html>
<html>
<head>
    <title>
        {{pageName}}
    </title>
      {{>header}}
</head>

<body>
    
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aspernatur ea eius maxime, commodi tenetur minima corporis dolore quam, ut eveniet. Ipsa, ipsum alias? Repellendus rem minima velit nostrum nulla sint excepturi eos quis eaque deleniti. Recusandae autem molestias, quis maiores beatae saepe nihil doloribus rerum dolore explicabo repellendus possimus.
</p>

{{>footer}}  
</body>
</html>